<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1"/>
   <title>JVM Jargon Generator 1.0</title>
   <link rel="stylesheet" type="text/css" rel="stylesheet" media="screen,projection" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="shortcut icon" type="image/jpg" href="static/images/favicon.ico"/>
</head>

<body>
  <header>
      <div id="header-banner" >
          <div class="section">
              <div class="container center">
                  <div class="row center">
                      <h1 class="header center blue-text">JVM Jargon Generator v1.0</h1>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <main>
      <div id="index-banner" class="parallax-container">
          <div class="section">
              <div class="container center">
                  <div class="row center">
                      <h2 class="header center blue-text text-lighten-2" id="jargon">{{jargon}}</h2>
                  </div>
              </div>
          </div>
          <div class="parallax"><img src="static/images/magic-finger.jpg" alt="Unsplashed background img 1"></div>
      </div>
      </header>

  <div class="container">
      <div class="section">
          <div class="row center">
              <a id="more-jargon-button" class="btn-large waves-effect waves-light blue lighten-1">Get more jargon</a>
          </div>
          <div class="row center">
              <a id="copy-button" class="btn-large waves-effect waves-light blue lighten-1">Feel the Power of the Jargon</a>
          </div>
          <br><br>
      </div>
  </div>
      <div class="container">
          <div class="section">

          <!--   Icon Section   -->
          <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h5 class="center">Get a better job</h5>

                <p class="light">Bored at your current job? Stuck with a pager and a mess of Spring beans that makes you hate your life? The JVM Jargon
                generator is guaranteed to get you a better position if you use these phrases on your resume! Just stick <em>I create</em> in front of
                the jargon and slap in on the ol' resume!</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h5 class="center">Sell more products</h5>
                <p class="light">Product Owners: Need to catch the eye of your clients by over-promising the latest tech buzzwords? Now you can piss off your engineers even faster with more time for Golf!</p> </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h5 class="center">Seamless user experience</h5>
                <p class="light">So easy to use, even your grandma can do it! Many apologies if your grandma is no longer with us. Please accept some jargon with our condolences.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
  </main>
      <footer class="page-footer blue">
          <div class="container">
              <div class="footer-copyright">
                  <div class="container">
                      Made by <a href="https://code.theothermattm.com">Matt</a> in <a href="https://kotlinlang.org/">Kotlin</a> and <a href="https://ktor.io/">Ktor</a> using a template from <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize CSS</a>
                  </div>
              </div>
          </div>
      </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="static/js/init.js"></script>
</body>
</html>